body{font-family:arial;
    margin:0 auto;
    background:#F5F3F0;
    }

.header{
        background:#090909;
        height:127px;
        }
.container{
          width:960px;
          margin:auto;
          
          }
.logo{
    
    color:#777;
    font-size:37px;
    font-family:arial;
    margin-bottom:10px;
    letter-spacing:3px;
    margin-bottom:0;
    }  
.logo span{
        color:#00c7eb;
          }
.eslogan{
        font-size:15px;
        color:#bbb;
        margin:0;
    
       }          
.block{ 
          float:left;
       }
.imagen{
        float:right;
        height:127px;
        }
        
        
        
.menu{
    margin-bottom:0;
    margin-top:0;
    float:right;
    clear:both;
    
      }
.menu a{
        border-bottom:0;
        color:#FFF;
        text-decoration:none;
       }
.menu a:hover{
              color:#FFF;
    
}       
.menu li{
        text-transform:uppercase;
        font-family:serif;
        list-style:none;
        font-weight:bold;
        float:left;
        margin:5px;
        padding:5px 10px 10px 10px;
        }
.tabla{
      clear:both;
      height:42px;
      border-bottom:4px solid #00b8d9;
      background:#303030;
   
      }
.menu li:hover,.menu li.active{
               border-radius:8px 8px 0 0;
               background:#00b8d9;
               
              }
h3{
    text-transform:uppercase;
    font-family:serif;
    font-weight:normal;
    color:#342F28;
    border-bottom:1px solid #CDC6B5;
    font-size:20px;
}              
h4{font-family:serif;
    font-weight:normal;
    color:#342F28;
    font-size:20px;
    
}
p {
    color:#635b53;
    font-size:13px;
    font-family:'lucida sans';
    line-height:17px;
      }
.contenedor{
    width:960px;
    clear:both;
    margin:0 auto;
        }
        
.columna1{
    width:650px;
    float:left;
    box-sizing:border-box;
    padding-right:25px;
    }
        
.columna1 li{
    list-style-type:square;
    font-size:13px;
}
      
.columna2{
    width:310px;
    float:right;
    box-sizing:border-box;
    padding-left:25px;
        }
       
.columna2 span{
    font-size:12px;
}      

a{
    color:#342f28;
    font-size:12px;
    border-bottom:dashed 1px #342f28;
    text-decoration:none;
 
}
a:hover {color:#00c5ee;
         border-bottom-color:#00c5ee;
} 
.columna2 ul li{
    list-style-image:url(../img/arrow.png);
}

.footer{
        clear:both;
        height:100px;
        background:#313131;
        text-align:center;
        border-top:#00b8d8 solid 4px;
       }

.footer ul li{
    text-transform:uppercase;
    display:inline-block;
    border-right:10px;
    margin-left:5px;
    margin-right:5px;
    border-right:#a8aa94 solid 2px;
    padding-right:10px;
}
.footer a{
    color:#a8aa94;
    font-size:12px;
    border-bottom:dotted 1px #a8aa94;
    }
.footer a:hover{
    color:#fff;
    border-bottom:dotted 1px #fff;
}
.footer li:last-child{
    border-right:0;
}
    